Repository rapidsai/deployment, pull requests merged in 2022-08, with the labels that each got.

#22 Add general Kubernetes page
  source/images/kubernetes-jupyter.png
  source/platforms/kubernetes.md
Labels: doc, platform/kubernetes

#21 Add KubeFlow docs
  source/images/kubeflow-configure-dashboard-option.png
  source/images/kubeflow-create-notebook.png
  source/images/kubeflow-dask-dashboard.png
  source/images/kubeflow-jupyter-dask-cluster-widget.png
  source/images/kubeflow-jupyter-dask-labextension.png
  source/images/kubeflow-jupyter-example-notebook.png
  source/images/kubeflow-jupyter-nvidia-smi.png
  source/images/kubeflow-jupyter-using-dask.png
  source/images/kubeflow-new-notebook.png
  source/images/kubeflow-notebook-running.png
  source/images/kubeflow-rapids-install.png
  source/platforms/kubeflow.md
  source/tools/kubernetes/index.rst
Labels: doc, tool/dask-operator, platform/kubernetes

#24 Add deployment notes with `dask-helm-chart`
  source/_static/daskworker.PNG
  source/_static/eightworkers.PNG
  source/_static/workingdask.PNG
  source/tools/kubernetes/dask-helm-chart.md
  source/tools/kubernetes/dask-helm-chart/rapids-config.yaml
Labels: doc, tool/dask-helm, platform/kubernetes

#29 Add prettier/markdownlint and enforce with pre-commit
  .github/workflows/pre-commit.yml
  .markdownlint.json
  .pre-commit-config.yaml
  README.md
  source/cloud/aws/sagemaker.md
  source/cloud/aws/single-node.md
  source/hpc/htcondor.md
  source/hpc/pbs.md
  source/hpc/slurm.md
  source/local.md
  source/platforms/kubeflow.md
  source/platforms/kubernetes.md
  source/tools/kubernetes/dask-gateway.md
  source/tools/kubernetes/dask-helm-chart.md
  source/tools/kubernetes/dask-helm-chart/rapids-config.yaml
  source/tools/kubernetes/dask-kubernetes.md
  source/tools/kubernetes/dask-operator.md
  source/tools/rapids-docker.md
Labels: improvement

#30 Allow inline HTML
  .markdownlint.json
Labels: improvement

#28 Dask Helm Chart doc edits
  source/tools/kubernetes/dask-helm-chart.md
  source/tools/kubernetes/dask-helm-chart/rapids-config.yaml
Labels: doc, tool/dask-helm

#23 Add Dask operator docs
  conda/environments/deployment_docs.yml
  conda/environments/deployment_docs_cuda11.5.yml
  source/conf.py
  source/tools/kubernetes/dask-operator.md
Labels: doc, tool/dask-operator, platform/kubernetes

#4 Basic outline and draft content for AWS
  source/cloud/aws/ecs.md
  source/cloud/aws/eks.md
  source/cloud/aws/index.md
  source/cloud/aws/index.rst
  source/cloud/aws/sagemaker.md
  source/cloud/aws/single-node.md
  source/platforms/databricks.md
  source/platforms/index.rst
Labels: doc, cloud/aws
