Repository rapidsai/deployment, pull requests merged in 2022-12, with the labels that each got.

#85 Update GCP Instance instructions for 22.12
  source/_includes/install-rapids-with-docker.md
  source/cloud/gcp/compute-engine.md
Labels: doc, cloud/gcp

#86 Add SSH instructions to connect to AzureVM
  source/cloud/azure/azure-vm.md
Labels: doc, cloud/azure

#82 Add GKE instructions
  source/_includes/menus/gcp.md
  source/cloud/gcp/gke.md
  source/cloud/gcp/index.md
Labels: doc, cloud/gcp, cloud

#87 Update Vertex AI for 22.12
  source/cloud/gcp/vertex-ai.md
Labels: doc, cloud/gcp

#83 Add Azure Kubernetes Service instructions
  source/_includes/menus/azure.md
  source/cloud/azure/aks.md
  source/cloud/azure/index.md
Labels: doc, cloud/azure, cloud

#88 Add legacy warning to ECS docs
  source/cloud/aws/ecs.md
Labels: doc, cloud/aws

#89 Add legacy Dataproc page
  source/_includes/menus/gcp.md
  source/cloud/gcp/dataproc.md
  source/cloud/gcp/index.md
Labels: doc, cloud/gcp

#93 Delete Databricks stub for now
  source/platforms/databricks.md
  source/platforms/index.md
Labels: doc

#91 Delete Gateway stub for now
  source/tools/index.md
  source/tools/kubernetes/dask-gateway.md
Labels: doc, tool/dask-gateway

#95 Add legacy AzureML docs
  source/_includes/menus/azure.md
  source/cloud/azure/azureml.md
  source/cloud/azure/index.md
Labels: doc, cloud/azure
