Repository rapidsai/deployment, pull requests merged in 2024-12, with the labels that each got.

#483 Update Vertex AI pip install command
  source/cloud/gcp/vertex-ai.md
Labels: cloud/gcp

#484 Make AzureML examples more self-contained
  .gitignore
  pyproject.toml
  source/cloud/azure/azureml.md
  source/examples/rapids-azureml-hpo/Dockerfile
  source/examples/rapids-azureml-hpo/notebook.ipynb
  source/examples/rapids-azureml-hpo/train_rapids.py
  source/examples/rapids-optuna-hpo/notebook.ipynb
  source/images/azureml-download-config-file.png
  source/images/azureml-provision-setup-script.png
Labels: doc, cloud/azure

#485 fix link to RAPIDS install docs
  source/examples/rapids-1brc-single-node/notebook.ipynb
Labels: bug, non-breaking, example
