Repository rapidsai/deployment, pull requests merged in 2025-01, with the labels that each got.

#489 Add codespell to pre-commit configuration
  .pre-commit-config.yaml
  pyproject.toml
  source/cloud/aws/sagemaker.md
  source/cloud/azure/azure-vm-multi.md
  source/cloud/azure/azureml.md
  source/cloud/gcp/vertex-ai.md
  source/examples/rapids-1brc-single-node/notebook.ipynb
  source/examples/rapids-autoscaling-multi-tenant-kubernetes/notebook.ipynb
  source/examples/rapids-azureml-hpo/rapids_csp_azure.py
  source/examples/rapids-ec2-mnmg/notebook.ipynb
  source/examples/rapids-sagemaker-hpo/helper_functions.py
  source/examples/rapids-sagemaker-hpo/notebook.ipynb
  source/examples/rapids-sagemaker-hpo/serve.py
  source/examples/time-series-forecasting-with-hpo/notebook.ipynb
  source/examples/xgboost-azure-mnmg-daskcloudprovider/notebook.ipynb
  source/guides/azure/infiniband.md
  source/guides/colocate-workers.md
  source/guides/mig.md
  source/guides/scheduler-gpu-optimization.md
  source/guides/scheduler-gpu-requirements.md
  source/platforms/colab.md
  source/platforms/kserve.md
  source/platforms/kubernetes.md
  source/tools/kubernetes/dask-operator.md
Labels: improvement, non-breaking, build/test

#495 Reorganise NVIDIA cloud platforms
  .readthedocs.yaml
  conda/environments/deployment_docs.yml
  source/_includes/menus/nvidia.md
  source/_static/images/cloud/nvidia/bcp-dask.png
  source/_static/images/cloud/nvidia/bcp-edit-project-image.png
  source/_static/images/cloud/nvidia/bcp-edit-project-results.png
  source/_static/images/cloud/nvidia/bcp-edit-project-title.png
  source/_static/images/cloud/nvidia/bcp-jupyter.png
  source/_static/images/cloud/nvidia/bcp-project-queued.png
  source/_static/images/cloud/nvidia/bcp-project-running.png
  source/_static/images/cloud/nvidia/bcp-projects.png
  source/_static/images/cloud/nvidia/bcp-rapids.png
  source/_static/images/examples/xgboost-gpu-hpo-job-parallel-ngc/optuna-package.png
  source/cloud/index.md
  source/cloud/nvidia/bcp.md
  source/cloud/nvidia/brev.md
  source/cloud/nvidia/index.md
  source/conf.py
  source/examples/index.md
  source/examples/xgboost-gpu-hpo-job-parallel-ngc/notebook.ipynb
  source/platforms/index.md
Labels: cloud/nvidia

#497 Add NVIDIA AI Workbench documentation
  source/_static/images/platforms/nvidia-ai-workbench/add-remote-system-dialog.png
  source/_static/images/platforms/nvidia-ai-workbench/create-project.png
  source/_static/images/platforms/nvidia-ai-workbench/cudf-example.png
  source/_static/images/platforms/nvidia-ai-workbench/new-project.png
  source/_static/images/platforms/nvidia-ai-workbench/open-jupyter.png
  source/_static/images/platforms/nvidia-ai-workbench/project-building.png
  source/_static/images/platforms/nvidia-ai-workbench/rapids-with-cuda.png
  source/platforms/index.md
  source/platforms/nvidia-ai-workbench.md
Labels: doc, platform/nvidia/aiwkb

#500 simplify and update XGBoost benchmarking example
  .gitignore
  source/examples/xgboost-rf-gpu-cpu-benchmark/Dockerfile
  source/examples/xgboost-rf-gpu-cpu-benchmark/notebook.ipynb
Labels: improvement, non-breaking
