Repository rapidsai/deployment, pull requests merged in 2025-02, with the labels that each got.

#511 Update to newer Databricks ML runtime
  source/images/databricks-deselect-photon.png
  source/platforms/databricks.md
Labels: platform/databricks

#518 Vertex AI update
  source/cloud/gcp/vertex-ai.md
  source/images/vertex-ai-launcher.png
Labels: cloud/gcp

#504 use 'sagemaker-python-sdk' instead of 'sagemaker'
  .gitignore
  source/cloud/aws/sagemaker.md
  source/conf.py
  source/examples/rapids-sagemaker-higgs/Dockerfile
  source/examples/rapids-sagemaker-higgs/notebook.ipynb
  source/examples/rapids-sagemaker-hpo/Dockerfile
  source/examples/rapids-sagemaker-hpo/notebook.ipynb
  source/images/sagemaker-create-lifecycle-configuration.png
  source/images/sagemaker-create-notebook-instance.png
Labels: improvement, non-breaking

#498 Update Coiled docs to include notebooks, CLI jobs and more details on software environments
  source/_static/images/platforms/coiled/coiled-jupyter.png
  source/platforms/coiled.md
Labels: doc, platform/coiled
